[submodule "hugo-theme-terminalcv"]
	path = hugo-theme-terminalcv
	url = https://github.com/coolapso/hugo-theme-terminalcv
[submodule "themes/hugo-theme-terminalcv"]
	path = themes/hugo-theme-terminalcv
	url = https://github.com/coolapso/hugo-theme-terminalcv
[submodule "themes/hugo-noir"]
	path = themes/hugo-noir
	url = https://github.com/prxshetty/hugo-noir
[submodule "themes/hugo-theme-m10c"]
	path = themes/hugo-theme-m10c
	url = https://github.com/vaga/hugo-theme-m10c
